<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.user.Register</servlet-class>
            </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
            </servlet-mapping>


    <servlet>
        <servlet-name>EditDataServlet</servlet-name>
        <servlet-class>com.user.EditDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditDataServlet</servlet-name>
        <url-pattern>/EditDataServlet</url-pattern>
    </servlet-mapping>

            <servlet>
                <servlet-name>Login</servlet-name>
                <servlet-class>com.user.Login</servlet-class>
            </servlet>

            <servlet-mapping>
                <servlet-name>Login</servlet-name>
                <url-pattern>/Login</url-pattern>
            </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.user.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.user.dashboard</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
